Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
AnalyzeTemporaryDtors: false
FormatStyle: file


