# Generated artifacts
**/tmp/**
**/results/**
**/log/**
**/tmp_check/**
**/*.o
**/*.bc
**/*.so
**/*.dylib
**/*.a

# Git / build system
.git
.gitignore
.github
build/
cmake-build*/

# Editor metadata
.DS_Store
*.swp
.vscode
.idea

